#enemy-side{
    #enemy{
        position: absolute;
        top: 10%;
        right: 20%;
        width: 20%;
        height: 56%;
        .enemy-sprite{
            width: 80%;
            height: 80%;
            border-style: solid;
            border-width: 1px;
        }
        .life-bar{
            position: absolute;
            width: 100%;
            height: 12%;
            top: -18%;
            left: -2.5%;
            background-color: rgb(82, 82, 82);
            border-style: solid;
            border-width: 0.2em;
            p{
                z-index: 1;
                position: absolute;
                padding: 0;
                margin: 0;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                top: 10%;
                left: 0;
                right: 0;
                text-align: center;
                color: white;
            }
        }
    }
}
.enemy-attack{
    position: absolute;
    width: 25%;
    height: 60%;
    background-color: red;
}
