<template name="timeBar">
    <div id="time-bar">
        {{> timeBarMajorGraduation value=5}}
        {{> timeBarMajorGraduation value=10}}
        {{> timeBarMajorGraduation value=15}}

        {{#each GetEvents}}
            {{> timeBarEvent event=this}}
        {{/each}}
        {{#each GetEnemyAttacks}}
            {{> battlefieldEnemyAttack event=this}}
        {{/each}}
    </div>
</template>
<template name="timeBarMajorGraduation">
    <div class="major-graduation" style="bottom:{{TimePercent value}}%;">
        <div style="position:relative;bottom: -0.5em">
            {{value}}
        </div>
    </div>
</template>
<template name="timeBarEvent">
    <div class="event" style="bottom:{{TimePercentMillisecond event.time}}%;">
        {{event.name}}
    </div>    
</template>
<template name="battlefieldEnemyAttack">
    <div class="enemy-attack" style="left:-250%;">
        
    </div>    
</template>
